/runs/CustomPendulum-v1__PPO_1/CustomPendulum-v1__PPO_1_agent.pth
/runs/CustomPendulum-v1__PPO_1/CustomPendulum-v1__PPO_1_training.npz
/runs/CustomPendulum-v1__PPO_2/CustomPendulum-v1__PPO_2_agent.pth
/runs/CustomPendulum-v1__PPO_2/CustomPendulum-v1__PPO_2_training.npz
/runs/CustomPendulum-v1__PPO_3/CustomPendulum-v1__PPO_3_agent.pth
/runs/CustomPendulum-v1__PPO_3/CustomPendulum-v1__PPO_3_training.npz
/runs/CustomPendulum-v1__PPO_4/CustomPendulum-v1__PPO_4_agent.pth
/runs/CustomPendulum-v1__PPO_4/CustomPendulum-v1__PPO_4_training.npz
/runs/CustomPendulum-v1__PPO_5/CustomPendulum-v1__PPO_5_agent.pth
/runs/CustomPendulum-v1__PPO_5/CustomPendulum-v1__PPO_5_training.npz
/runs/CustomPendulum-v1__PPO_1/events.out.tfevents.1715542101.Matebook-Stefa.25280.0
/runs/CustomPendulum-v1__PPO_2/events.out.tfevents.1715542238.Matebook-Stefa.25280.1
/runs/CustomPendulum-v1__PPO_3/events.out.tfevents.1715542379.Matebook-Stefa.25280.2
/runs/CustomPendulum-v1__PPO_4/events.out.tfevents.1715542519.Matebook-Stefa.25280.3
/runs/CustomPendulum-v1__PPO_5/events.out.tfevents.1715542662.Matebook-Stefa.25280.4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-0.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-0.mp4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-1.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-1.mp4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-8.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-8.mp4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-27.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-27.mp4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-64.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-64.mp4
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-125.meta.json
/videos/Pendulum-v1__PPO__1__1715528810/rl-video-episode-125.mp4
/__pycache__
/.idea
/runs/
customPendulum.py
test_PPO.py
